[Desktop Entry]
Name=Windows
Comment=Reboot to Windows
Exec=sh -c "$HOME/.local/bin/reboot-to-windows.sh"
Icon=reboot-to-windows
Type=Application
Terminal=false
