[Desktop Entry]
Name=Windows
Comment=Reboot to Windows
Exec=bash -c "$HOME/.local/bin/reboot-to-windows.sh"
Icon=windows_logo.png
Type=Application
Terminal=false
