[Desktop Entry]
Name=Windows
Comment=Reboot to Windows
Exec=/bin/bash /usr/local/bin/reboot-to-windows.sh
Icon=/usr/share/reboot-to-windows/windows_logo.png
Type=Application
Terminal=false
