[Desktop Entry]
Name=Windows
Comment=Reboot to Windows
Exec=/bin/bash /usr/local/bin/reboot-to-windows.sh
Icon=windows_logo
Type=Application
Terminal=false